
@{
    ViewBag.Title = "Index";
}

<h1>LỰA CHỌN</h1>
<ul>
    <li>@Html.ActionLink("Danh sách nhân viên", "DSNhanVien")</li>
    <li>@Html.ActionLink("Danh sách nhân viên và phòng ban", "DanhSachNV_PB")</li>
</ul>

